# NOTE: this .gitignore file operates on files NOT under revision.
#       files already under revision cannot be ignored here.

# Python/Flask build and dist files
DervetApp/dervetpy/.python-version
DervetApp/dervetpy/__pycache__/*
DervetApp/dervetpy/build/*
DervetApp/dervetpy/dist/*
DervetApp/extraResources/*

# Electron build and dist files
.DS_Store
DervetApp/dervetpy/.python-version
DervetApp/dist/electron/*
DervetApp/dist/web/*
DervetApp/build/*
DervetApp/package-lock.json
!DervetApp/build/icons
coverage
DervetApp/node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep

# Byte-compiled / optimized / DLL files
**/*.py[cod]

# Visual Studio cache/options directory
.vs/

## asp.net mvc source
#**/*.pdb
#**/*.dll
#**/*.cache
#**/*.exe
#**/*.txt
