[submodule "DervetBackEnd/dervet"]
	path = DervetBackEnd/dervet
	url = git@gitlab.epri.com:storagevet/dervet.git
[submodule "DervetBackEnd/DER-VET"]
	path = DervetBackEnd/DER-VET
	url = https://github.com/epri-dev/DER-VET/
