
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 0.95em;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dervet-title {
    text-align: center;
}

.text-white {
    color: white;
}


.form-horizontal .control-label {
    text-align: left;
    padding-top: 3px;
    padding-right: 0;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 15px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.left-sidebar {
    display: none;
}

@media (min-width: 768px) {
    .left-sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 15px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        width: 260px;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: 15px; /* 20px padding + 1px border */
    margin-bottom: 0px;
    margin-left: 15px;
}

.sidebar-root-el {
    margin-top: 15px;
}

.sidebar-indent {
    margin-left: 30px;
}

.nav-sidebar > li > a {
    padding: 8px 0;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    max-width: 1200px;
}

    .main h3, .expert-mode-main h3 {
        margin: 20px 0 20px 0;
    }

@media (min-width: 768px) {
    .main, .expert-mode-main {
        padding-left: 305px;
        margin: 10px 20px;
    }
}

.main .page-header, .expert-mode-main .page-header {
    margin-top: 0;
}


.main .alert-warning, .expert-mode-main .alert-warning {
    margin: 25px 0 0 0;
}


/*
 * Trash button hover css
*/

 .fas.fa-trash:hover {
  color: steelblue;
  cursor: pointer;
}

/*
 * Capitalize first letter of text in element
 */
.capitalize {
    text-transform: capitalize;
}

/*
 * Align text in table
 */
.table-align-center {
    text-align: center;
}

.table-ensure-width {
    width: 80px;
    display: inline-block;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control-width-auto {
    width: auto !important;
}

.outage-input, .dispatch-input {
    width: 130px !important;
}

.current {
    font-weight: bolder;
    color: darkblue;
}

.menutext {
    font-weight: normal;
}

.form-buffer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-control-inline {
    display: inline-block;
    width: unset;
}

.numberbox {
    display: inline-block;
    width: 80px;
}

.numberbox-lg {
    display: inline-block;
    width: 170px;
}

.textbox-lg {
    max-width: 100%;
}

.btn-w250 {
    width: 250px;
}

.status {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

.status-COMPLETED {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.status-RUNNING {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.status-FAILED {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.status-PENDING {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.buffer-top-lg {
    margin-top: 50px;
}

.buffer-right-lg {
    margin-right: 50px;
}

.buffer-bottom-lg {
    margin-bottom: 50px;
}

.buffer-left-lg {
    margin-left: 50px;
}

.buffer-top {
    margin-top: 25px;
}

.buffer-right {
    margin-right: 25px;
}

.buffer-bottom {
    margin-bottom: 25px;
}

.buffer-left {
    margin-left: 25px;
}

.buffer-top-sm {
    margin-top: 15px;
}

.buffer-right-sm {
    margin-right: 15px;
}

.buffer-bottom-sm {
    margin-bottom: 15px;
}

.buffer-left-sm {
    margin-left: 15px;
}

.buffer-left-xs {
    margin-left: 5px;
}

.unit-label {
    color: #7d7d7d;
}

.summary-table-labelcell {
    width: 50%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checkboxes label {
    height: 30px;
    padding-left: 5px;
    vertical-align: middle;
}

/*
 * Chart styles
 */
.chart-title {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #666;
}

.battery-dispatch-legend-text, .energy-price-legend-text {
    color: #666;
    font-size: 10px;
}

.results-tablecell-header {
    text-align: center;
}

.results-tablecell-number {
    text-align: right;
}

.results-tablecell-subsectionheader {
    background-color: #f5f5f5;
    font-weight: bold;
}

.NetLoad-line-legend {
    fill: steelblue;
}

.PV-line, .Battery-line, .NetLoad-line, .SOC-line {
    stroke: steelblue;
}

.Battery-line {
    fill: #dde8f1;
}

.RegUp-line {
    stroke: #267326;
}

.RegUp-line-legend {
    fill: #267326;
}

.RegDown-line {
    stroke: #800;
}

.RegDown-line-legend {
    fill: #800;
}

.DA-line {
    stroke: #F72595;
}

.SR-line {
    stroke: #4B0082;
}

.SR-line-legend {
    fill: #4B0082;
}

.NSR-line {
    stroke: #FFAF0A;
}

.NSR-line-legend {
    fill: #FFAF0A;
}

.BatteryEnergy-line-legend {
    fill: #dde8f1;
    stroke: #333333;
}

.BatteryPower-line-legend {
    fill: steelblue;
    stroke: steelblue;
}

.Load-line-legend {
    fill: #8B4513;
}

.Load-line {
    stroke: #8B4513;
}

.origin-line {
    stroke: #777;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

#outage-contribution-graph {
    height: 500px;
}

.Diesel-bar {
    fill: #999999;
}

.PV-bar {
    fill: #e2d06b;
}

.Battery-bar {
    fill: #a2c7db;
}

#outage-Battery.active, #outage-Battery:active {
    background-color: #a2c7db;
    border-color: #a2c7db;
    color: #333;
}

#outage-PV.active, #outage-PV:active {
    background-color: #e2d06b;
    border-color: #e2d06b;
    color: #333;
}

#outage-Diesel.active, #outage-Diesel:active {
    background-color: #999999;
    border-color: #999999;
    color: white;
}

.outage-legend-marker {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-right: 2px;
    border: 1px solid #666;
}

.Battery-outage-legend-marker {
    background-color: #a2c7db;
}

.PV-outage-legend-marker {
    background-color: #e2d06b;
}

.Diesel-outage-legend-marker {
    background-color: #999999;
}

#outage-legend {
    margin-bottom: 35px;
    text-align: center;
    font-size: 20px;
}

.Outage-tick {
    stroke: #333;
    stroke-width: 1;
}

#outage-range, #dispatch-range {
    font-weight: bold;
    font-size: 23px;
}

div.outage-graph-toggle > .btn-default.active,
div.outage-graph-toggle > .btn-default:active,
div.outage-graph-toggle > .btn-default:focus,
div.dispatch-graph-toggle > .btn-default.active,
div.dispatch-graph-toggle > .btn-default:active,
div.dispatch-graph-toggle > .btn-default:focus {
    background-color: green;
    border-color: green;
    color: white;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
    background-color: #fff7f9;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.notimplemented {
    color: #1590da;
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
}

.stacktrace {
    white-space: pre;
    font-family: monospace;
    font-size: smaller;
    margin-left: 25px;
}

.font-weight-normal {
    font-weight: normal;
}

.export-project {
    margin-top: 50px;
    text-align: center;
}

.no-results {
    font-style: italic;
    margin-top: 50px;
}

.important-link {
    text-decoration: underline;
    font-weight: bold;
}


.results-legend {
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}

    .results-legend #results-legend-battery-marker {
        border: 1px solid #ccc;
        width: 25px;
        height: 10px;
        margin-right: 5px;
        opacity: 0.7;
        background-color: #a2c7db;
        border: 1px solid #507589;
        display: inline-block;
    }


.result-summary-title {
    margin-top: 0px !important;
    text-align: center;
    font-size: 28px;
    color: rgb(51, 51, 51) !important;
}

    .result-summary-title a {
        color: rgb(51, 51, 51)
    }

.results-charts {
    margin: 60px 0 0 0;
}

/* Fieldsets */
fieldset.section-group {
    margin: 0 0 2rem -20px;
    padding: 1.5rem 0 0 2.5rem;
    border-radius: 3px;
    border: solid 1px #ff7e22;
    box-shadow: 0px 0px 6px 1px rgba(72, 72, 72, 0.25);
}

    fieldset.section-group legend {
        font-size: 1rem;
        letter-spacing: .3px;
        border: none;
        padding: 0 5px;
        width: fit-content;
        text-align: left;
        font-weight: bold;
        color: #e2803a;
        background: #fff;
        position: relative;
        top: -5px;
        margin-bottom: 0px;
    }

    fieldset.section-group .unit-label {
        color: #ff7e22;
    }
/*** HANDSONTABLE customizations ***/
.handsontable .current {
    font-weight: unset;
    cursor: unset;
    color: unset;
    font-size: unset;
}


/* SIDEBAR NAV - Expert Mode Projects */

.expert-mode-sidebar {
    border-right: solid 1px #d7ecff;
    background-color: #d3e8d3;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9b77f' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

    .expert-mode-sidebar .nav-sidebar > li > a {
        letter-spacing: .15px;
        color: #1b6b00;
    }

        .expert-mode-sidebar .nav-sidebar > li > a:hover {
            color: #fff;
            text-shadow: 1px 1px 2px #076705;
            font-weight: 400;
            margin-left: -20px;
            padding: 6px 0 6px 20px;
            background-color: #21c500;
            border-radius: 3px 0 0 3px;
        }

        .expert-mode-sidebar .nav-sidebar > li > a.current {
            color: #fff;
            text-shadow: 1px 1px 2px #076705;
            font-weight: 400;
            margin-left: -20px;
            padding: 6px 0 6px 20px;
            background-color: #21c500;
            border-radius: 3px 0 0 3px;
            border-right: solid 2px #1aff00;
        }

            .expert-mode-sidebar .nav-sidebar > li > a.current::before {
                content: '●';
                position: absolute;
                top: calc(50% - 6px);
                right: 7px;
                font-size: 6px;
                height: 10px;
                width: auto;
                color: #fff;
            }



/* Expert Mode styling */
#config-toolbar {
    margin-bottom: 10px;
}

#config-container {
    border: 2px solid #333;
    height: calc(100vh - 150px);
    overflow: hidden;
    margin-right: 10px;
}

#config tr:nth-child(even) td {
    background-color: #eaf2e0;
}

#config tr:first-child td {
    background-color: #004f0e;
    color: white;
    font-weight: bold;
}

.expert-mode-main {
    padding-right: 50px;
}

/* Tooltips and Markup */
.col-md-3:hover + .col-md-4 + .col-md-5 p.tool-tip,
.col-md-4:hover + .col-md-5 p.tool-tip,
.col-md-3:hover + .col-md-9 p.tool-tip,
.col-md-3 + .col-md-9:hover p.tool-tip,
select:focus ~ p.tool-tip,
input:focus ~ p.tool-tip,
textarea:focus ~ p.tool-tip {
    color: #000;
}

.col-md-3 span {
    font-size: 13px;
}

p.tool-tip {
    color: #a7a7a7;
    font-size: 13px;
    line-height: 1.55rem;
    transition: all .3s ease-in;
}

p.tool-tip:hover {
    color: #000;
}

p.selected-tool-tip {
    color: #000;
}

.tool-tip.tooltip-col {
    width: 55.85%;
    float: right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /*top: -8px;*/
    margin-bottom: 5px;
}

span.tooltip-space {
    display: block;
}

.tool-tip.tooltip-col.tt-col-0 {
    top: 0;
}

.tool-tip.tooltip-col.tt-col-60 {
    top: -60px;
}

.tool-tip.tooltip-col.tt-col-95 {
    top: -95px;
}

.tool-tip.tooltip-col.tt-col-110 {
    top: -110px;
}

/* responsive tootip columns */
@media (max-width: 1400px) {
    .col-md-3 {
        margin: 0 0 15px 0;
    }

    p.tool-tip {
        margin-top: 15px;
    }

    .tool-tip.tooltip-col {
        width: 100%;
        float: none;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 0;
        top: 5px;
        margin-bottom: 5px;
    }

        .tool-tip.tooltip-col.tt-col-0,
        .tool-tip.tooltip-col.tt-col-60,
        .tool-tip.tooltip-col.tt-col-95,
        .tool-tip.tooltip-col.tt-col-110 {
            top: 5px;
            margin-bottom: 5px;
        }
}

.text-danger.field-validation-error {
    width: 40%;
    display: block;
}


input#EnergyPriceSourceWholesale-No,
input#EnergyPriceSourceWholesale-Yes {
    vertical-align: top;
}

    input#EnergyPriceSourceWholesale-No + label,
    input#EnergyPriceSourceWholesale-Yes + label {
        width: 40%;
    }

input#NoChargingFromGrid ~ p.tool-tip,
input#NoDischargingToGrid ~ p.tool-tip {
    width: 43%;
}

#OptimizationHorizon ~ p.tool-tip {
    left: -128px;
    top: -40px;
}

#OptimizationHorizonNum-Form p.tool-tip {
    left: -128px;
    top: 0px;
}

#RegUpTimestep ~ p.tool-tip,
#RegDownTimestep ~ p.tool-tip {
    left: 50px;
}

#OptimizationHorizon {
    max-width: 130px;
}
